# Entorno virtual
.venv/
venv/

# Secretos: el .env real NUNCA se sube
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Tests
.pytest_cache/

# Editores
.vscode/
.idea/

# Node / Frontend
node_modules/
dist/
.vite/
frontend/node_modules/
frontend/dist/

